<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>TitleName</title>
    
    <link rel="stylesheet" href="/css/main.css" />	
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/sockjs.min.js"></script>
	<script src="/js/stomp.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="contents-page">	
	<div class="login-page-container">
	    <h1 class="title">Chatlist</h1>
	    <form id="Chatlist">
	        <div class="form-group">
	            <button class="accent" style="float: right;" onclick="registerChatroom();">채팅방 만들기</button>
	        </div>
	        <div class="form-group">
	            <article th:each="chatroom : ${user.chatrooms}">
							
					<div>
						<a th:href="@{'/chat/{id}'(id=${chatroom.id})}">
							<span th:text="${chatroom.name}"></span>
						</a>
						<ul>
							<!-- 가능하면 가장 최근 메시지와 보지 않은 메시지 갯수 표시 -->
						</ul>
					</div>
				</article>
	        </div>
	    </form>
	</div>

	<script src="/js/chatlist.js"></script>
</div>
</body>
</html>