<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>TitleName</title>
    
    <link rel="stylesheet" href="css/main.css" />	
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/sockjs.min.js"></script>
	<script src="js/stomp.min.js"></script>
	<script src="js/cookie.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="contents-page">
	<div class="login-page-container">
		<h1 class="title"><span th:text="${user.name}"></span> 님 어서오세요</h1>
	    <form id="userUpdateForm" name="userupdateForm" th:object="${user}" method="post">
	        <div class="form-group">
	        	
	            <input type="text" th:value="${user.userId}" th:field="*{userId}" id="updateuserid" placeholder="ID" autocomplete="off" class="form-control" readonly="true"/>
	            <input type="text" th:value="${user.userPw}" th:field="*{userPw}" id="updateuserpw" placeholder="Password" autocomplete="off" class="form-control" />
	            <input type="text" th:value="${user.name}" th:field="*{name}" id="updatename" placeholder="Nickname" autocomplete="off" class="form-control" />
	        </div>
	        <div class="form-group">
	            <button class="accent" id="btnUpdateUser">정보 수정</button>
	            <button class="accent" id="btnDeleteUser">회원 탈퇴</button>
	            <button class="accent" onClick="logout(); return false;">로그아웃</button>
	            <button class="accent" onClick="chatlist(); return false;">chatlist</button>
	        </div>
	    </form>
	</div>
	
	<script src="js/user.js"></script> 
</div>
</body>
</html>